<h1>Confirmation de réservation</h1>
<p>Bonjour {{ reservation.dog.user.firstname }},</p>
<p>Je vous confirme votre inscription pour l'activité "{{ reservation.activity.service.name }}" du {{ reservation.activity.date|date('d/m/Y') }} !</p>
<p>Pour rappel, voici les détails de l'activité :</p>
<ul>
    <li><strong>Nom de l'activité :</strong> {{ reservation.activity.service.name }}</li>
    <li><strong>Date :</strong> {{ reservation.activity.date|date('d/m/Y') }}</li>
    {% if reservation.activity.start and reservation.activity.end %}
        <li><strong>Horaires :</strong> de {{ reservation.activity.start|date('H:i') }} à {{ reservation.activity.end|date('H:i') }}</li>
    {% elseif reservation.activity.start %}
        <li><strong>Heure de début :</strong> {{ reservation.activity.start|date('H:i') }}</li>
    {% endif %}
    {% if reservation.activity.comment %}
        <li><strong>Informations supplémentaires :</strong> {{ reservation.activity.comment }}</li>
    {% endif %}
</ul>
<p>Je vous remercie pour votre inscription et j'espère que vous passerez un agréable moment lors de cette activité !</p>
<p>Si vous avez des questions ou souhaitez plus d'informations, n'hésitez pas à me contacter.</p>
<p>Bien cordialement,</p>
<p>Noémie, gérante d'Oxymaux</p>